<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">
    <script src="https://kit.fontawesome.com/f39583378c.js" crossorigin="anonymous"></script>
</head>

<body>
    <header class="home">
        <nav class="header__nav--home">
            <img src="/images/logo-mercado-liebre.svg" alt="">
            <p>lugar para poner barra de busquedad</p>
            <p class="header__nav__p"><i class="fa-solid fa-hand-holding-dollar"></i>Comprá en cuotas y sin tarjeta de
                crédito</p>
        </nav>
        <nav class="header--home__nav--list">
            <ul>
                <li>Ofertas</li>
                <li>Tiendas Oficiales</li>
                <li>Vender</li>
                <li>Ayuda</li>

            </ul>

            <ul>
                <li>Creá tu cuenta <i class="fa-regular fa-id-card"></i></li>
                <li>Ingresá <i class="fa-solid fa-right-to-bracket"></i></li>
                <li>Mis Compras <i class="fa-sharp fa-solid fa-basket-shopping"></i></li>

            </ul>
        </nav>
        <div>
            <i class="fas fa-bars"></i>
        </div>
    </header>
    <main>
        <section>
            <h3>Basado en tu última visita</h3>
            <img src="/images/img-cafetera-moulinex.jpg" alt="" width="300">
            <p>$6.770</p>
            <p>40% off</p>
            <h4>Cafetera Moulinex</h4>

            <img src="/images/img-macbook-pro-2019.jpg" alt="" width="300">
            <p>$230.000</p>
            <p>20% off</p>
            <h4>MacBook Pro 2019</h4>

            <img src="/images/img-samsung-galaxy-s10.jpg" alt="" width="300">
            <p>$70.500</p>
            <p>10% off</p>
            <h4>Samsung Galaxy S10</h4>

            <img src="/images/img-tv-samsung-smart.jpg" alt="" width="300">
            <p>$23.200</p>
            <p>5% off</p>
            <h4>SmartTv Samsung 43"</h4>

        </section>
        <section>
            <h3>Ofertas</h3>
            <img src="/images/img-cafetera-moulinex.jpg" alt="" width="300">
            <p>$6.770</p>
            <p>40% off</p>
            <h4>Cafetera Moulinex</h4>

            <img src="/images/img-macbook-pro-2019.jpg" alt="" width="300">
            <p>$230.000</p>
            <p>20% off</p>
            <h4>MacBook Pro 2019</h4>

            <img src="/images/img-samsung-galaxy-s10.jpg" alt="" width="300">
            <p>$70.500</p>
            <p>10% off</p>
            <h4>Samsung Galaxy S10</h4>

            <img src="/images/img-tv-samsung-smart.jpg" alt="" width="300">
            <p>$23.200</p>
            <p>5% off</p>
            <h4>SmartTv Samsung 43"</h4>
        </section>
    </main>

    <footer class="home">

        <section>
            <i class="fa-solid fa-credit-card"></i>
            <h4>Pagá con tarjeta o en efectivo</h4>
            <p>MercadoLiebreCash tenés cuotas sin</p>
            <p>interés con tarjeta o efectivo en puntos de</p>
            <p>pago. ¡Y siempre es seguro!.</p>
           </section>

           <section>
            <i class="fa-solid fa-gift"></i>
            <h4>Envío gratis desde los $2.500</h4>
            <p>Solo por estar registrado en Mercado Liebre</p>
            <p>tenés envío gratis en miles de productos. Es</p>
            <p>un beneficio de Mercado Puntos.</p>
        </section>
           
        <section>
            <i class="fa-solid fa-user-shield"></i>
            <h4>Seguridad de principio a fin</h4>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre</p>
            <p>no hay nada que no puedas hacer, por que estás</p>
            <p>siempre protegid@.</p>
        </section>

        <section class="footer--final">
            <h6>Copyright © 1999-2020 MercadoLiebre S.R.L</h6>
        </section>

    </footer>

</body>

</html>