:root {
    --colorAmarillo: #EAC926;
    --colorAzul: #03264C;
    --colorCeleste: #1259C3;
    --colorGrisOscuro: #666;
    --colorGrisClaro: #EBEBEB;
    --colorVerde: #39b54a;
}
*{
    font-family: Roboto, sans-serif;
}
body {
    margin: 0;
}
p{
    font-size: 12px;

}
.precio{
    font-size: 18px;
}
.descuento{
    font-size: 16px;

}

header.home{
    background-color: var(--colorAmarillo);
    padding-bottom: 15px;
}

.header__nav__p{
    text-align: center;
}
header.home ul{
    padding: 0;
}
header.home ul li {
    list-style: none;
}

.header__nav--home{
    padding-top: 30px;
    padding-bottom: 0;
}

body header nav img{
   width: 150px;
   padding: 0 20px;
}

body header div {
    text-align: center ;
    color: white;
    font-size: 21px;
    width: 28px;
    background-color: var(--colorCeleste);
    padding: 10px;
    margin: 0px 0px 10px 45%;
    border-radius: 5px;
}
body main img{
    width: 100%;
}
body main section h3{
    font-size: 24px;

}
body main section img{
    width: 100%
}

footer section{
    text-align: center;
    margin: 0;
    padding: 20px 0 ;
    line-height: 5px
}

footer section i{
    color: var(--colorAzul);
    font-size: 25px
}

.footer--final{
text-align: left;
font-weight: lighter;
color: var(--colorGrisOscuro);
padding: 0 5px;

}
