*{
    font-family: Roboto, sans-serif;
    font-size: 12px;
}

header.home{
    background-color: #EAC926;
    font-weight: 500;
}

.header__nav__p{
    text-align: center;
}
header.home ul{
    padding: 0;
}
header.home ul li {
    list-style: none;
}

.header__nav--home{
    padding-top: 30px;
    padding-bottom: 0;
}

body header nav img{
   width: 150px;
   padding: 0 20px;
}

header div i{
    text-align: center ;
    color: white;
    font-size: 21px;
    width: 28px;
    height: 22px;
    background-color: blue;
    padding: 4px;
    margin: 12px 137px;
    border-radius: 5px;
}

footer section{
    text-align: center;
    margin: 0;
    padding: 20px 0 ;
    line-height: 5px
}

footer section i{
    color: blue;
    font-size: 25px
}

.footer--final{
text-align: left;
font-weight: lighter;
color: #666;
padding: 0 5px;

}
